html {
    height: 100%;
}
  
body {
    height: 100%;
    width: 100%;
}

.vh-70 {
    height: 70vh !important;
}

.vw-80 {
    width: 80vw !important;
}

.vw-30 {
    width: 30vw !important;
}

.w-60 {
    width: 60% !important;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

app-home, app-gallery, app-client, app-admin-panel, app-not-found {
    height: auto !important;
    width: 100% !important;
    margin-bottom: 12rem !important;
    position: relative !important;
}

app-home {
    height: 100% !important;
    scroll-snap-type: y mandatory !important;
    scroll-padding-top: 5%;
    overflow-y: scroll !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    overflow-x: hidden !important;
}

app-gallery, app-admin-panel {
    margin-top: 3rem !important;
}

app-client {
    height: 100% !important;
}

input.ng-touched.ng-invalid {
    border: solid red 2px;
}
input.ng-touched.ng-valid {
    border: solid green 2px;
}