html {
    height: 100%;
}
  
body {
    height: 100%;
    width: 100%;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

app-home, app-gallery, app-client, app-admin-panel, app-not-found {
    height: auto!important;
    width: 100%!important;
}

app-client {
    height: 100%!important;
}

input.ng-touched.ng-invalid {
    border: solid red 2px;
}
input.ng-touched.ng-valid {
    border: solid green 2px;
}