<div class="modal-header">
    <h1 class="modal-title fs-5" id="modalLabel">{{ title }}</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div [ngSwitch]="type" class="modal-body">
    <div *ngSwitchCase="'successModal'">
        <p class="text-success">
            {{ body }}
        </p>
    </div>
    <div *ngSwitchCase="'warningModal'">
        <p class="text-warning">
            {{ body }}
        </p>
    </div>
    <div *ngSwitchCase="'errorModal'">
        <p class="text-danger">
            {{ body }}
        </p>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="closeButton" type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
        {{ closeButtonCaption }}
    </button>
    <button *ngIf="confirmButton" type="button" class="btn btn-primary" (click)="activeModal.dismiss()">
        {{ confirmButtonCaption }}
    </button>
</div>