<div class="bg-image d-flex flex-column align-items-center h-100" #bgImage>
    <nav class="navbar navbar-expand navbar-light w-100" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <img src="favicon.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                Mashulik
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown" [attr.activeClient]="activeClient">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            {{ 'PAGETITLES.HOME' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gallery" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            {{ 'PAGETITLES.GALLERY' | translate }}
                        </a>
                    </li>
                    <li *ngIf="activeClientType && activeClientType === 'admin'" class="nav-item">
                        <a class="nav-link" routerLink="/adminPanel" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            {{ 'PAGETITLES.ADMINPANEL' | translate }}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'CLIENTMENU.TITLE' | translate }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="/signUp" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    {{ 'CLIENTMENU.SIGNUPTEXT' | translate }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/signIn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    {{ 'CLIENTMENU.SIGNINTEXT' | translate }}
                                </a>
                            </li>
                            <li *ngIf="activeClientLogin">
                                <button type="button" class="dropdown-item" (click)="signOut()">
                                    {{ 'CLIENTMENU.SIGNOUTTEXT' | translate }}
                                </button>
                            </li>
                        </ul>
                    </li>
                    <li *ngIf="activeClientLogin" class="nav-item dropdown">
                        <button type="button" class="nav-link dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" #changeClientLocaleButton>
                            {{ activeClientLocale }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <li *ngFor="let locale of locales">
                                <button type="button" class="dropdown-item" id={{locale.code}} (click)="changeClientLocale($event)">{{locale.code}} ({{locale.title}})</button>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-text">
                    <span *ngIf="activeClientLogin; else noActiveClientBlock">
                        <span class="text-success fw-bold">{{activeClientLogin}}</span>
                        <small class="d-block">{{activeClientFullName}}</small>
                    </span>
                    <ng-template #noActiveClientBlock>  
                        <span class="text-warning">{{ 'CLIENTMENU.NONSIGNINTEXT' | translate }}</span>
                    </ng-template>
                </div>
            </div>
        </div>
    </nav>
    <div class="h-100 w-100">
        <router-outlet></router-outlet>
        <ng-template #appModal></ng-template>
    </div>
    <footer class="footer mt-auto w-100 py-2 bg-secondary text-center">
        <div class="container">
            <section class="mb-3">
                <a class="btn btn-primary btn-floating m-3" style="background-color: #55acee" href="#!" role="button">
                    <i class="bi bi-twitter"></i>
                </a>
                <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button">
                    <i class="bi bi-instagram"></i>
                </a>
            </section>
            <section class="mb-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                    distinctio earum repellat quaerat voluptatibus placeat nam,
                    commodi optio pariatur est quia magnam eum harum corrupti dicta,
                    aliquam sequi voluptate quas.
                </p>
            </section>
        </div>
    </footer>
</div>