<div class="bg-image d-flex flex-column align-items-center h-100" #bgImage>
    <nav class="navbar navbar-expand-lg navbar-light w-100" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <img src="favicon.ico" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                Mashulik
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            Главная
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/gallery" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            Галерея
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text">
                    Navbar text with an inline element
                </span>
            </div>
        </div>
    </nav>
    <div class="w-100">
        <router-outlet></router-outlet>
    </div>
    <footer class="footer mt-auto w-100 py-2 bg-secondary text-center"> <!-- footer w-100 py-2 position-absolute bottom-0 start-50 translate-middle-x bg-secondary text-center -->
        <div class="container">
            <section class="mb-3">
                <a class="btn btn-primary btn-floating m-3" style="background-color: #55acee" href="#!" role="button">
                    <i class="bi bi-twitter"></i>
                </a>
                <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button">
                    <i class="bi bi-instagram"></i>
                </a>
            </section>
            <section class="mb-3">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                    distinctio earum repellat quaerat voluptatibus placeat nam,
                    commodi optio pariatur est quia magnam eum harum corrupti dicta,
                    aliquam sequi voluptate quas.
                </p>
            </section>
        </div>
    </footer>
</div>