<div class="mt-5 p-3 font-family-dancing-script-bold">
    <h1 class="display-4 user-select-none">{{ 'GALLERYPAGE.HEADERTITLE' | translate }}</h1>
</div>
<div *ngIf="compressedImagesList; else noContentBlock" class="col-12 py-3 shadow-lg">
    <!-- <ngb-carousel class="carousel"
        [interval]="3000"
        [showNavigationArrows]="compressedImagesList.length > 1"
        [showNavigationIndicators]="false"
        (slide)="onCarouselSlide($event)"
    >
        <ng-template ngbSlide [id]="'ngb-slide-' + i" *ngFor="let imageDataArr of compressedImagesList; let i = index"> 
            <div class="row justify-content-center align-items-center py-3 shadow-lg">
                <div *ngFor="let imageData of imageDataArr; let j = index" class="col-5 col-lg-3 position-relative"
                    (mouseenter)="startLinkContainerAnimation(
                        setCurrentLinkContainerAnimationStateIndex(imageData.name)
                    )"
                    (mouseleave)="startLinkContainerAnimation(
                        setCurrentLinkContainerAnimationStateIndex(imageData.name)
                    )"
                >
                    <img src="/assets/images_thumbnail/gallery/{{ photographyType }}/{{ imageData.name }}" class="img-fluid object-fit-cover h-100 rounded" alt="">
                    <div *ngIf="activeClientType === 'admin'" class="position-absolute top-100 start-50 d-flex flex-row justify-content-center z-1 downloadOriginalImageLinkContainer"
                        [@link-container-animation]="linkContainerAnimationStates[setCurrentLinkContainerAnimationStateIndex(imageData.name)]"
                        (@link-container-animation.start)="linkContainerAnimationStarted($event, setCurrentLinkContainerAnimationStateIndex(
                            imageData.name)
                        )"
                        (@link-container-animation.done)="linkContainerAnimationDone($event, setCurrentLinkContainerAnimationStateIndex(
                            imageData.name)
                        )"
                        [ngStyle]="{ 
                            'display': linkContainerAnimationDisplayValues[setCurrentLinkContainerAnimationStateIndex(imageData.name)]
                        }"
                    >
                        <div class="input-group justify-content-center flex-nowrap w-70">
                            <button class="btn btn-success btn-sm" type="button" (click)="downloadOriginalImage(imageData.name)">
                                <i class="bi bi-download"></i>
                            </button>
                            <span class="input-group-text text-wrap text-bg-light fw-medium p-0 px-1 border-0 user-select-none">
                                {{ 'GALLERYPAGE.DOWNLOADORIGINALIMAGEBUTTONTEXT' | translate }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel> -->

    <owl-carousel-o id="galleryImagesCarousel" [options]="galleryImagesCarouselOptions" (translated)="changeActiveCarouselItems($event)">
        <ng-container *ngFor="let imageData of compressedImagesList">
            <ng-template carouselSlide> <!-- [id]="slide.id" -->
                <div class="position-relative"
                    (mouseenter)="startLinkContainerAnimation(
                        setCurrentLinkContainerAnimationStateIndex(imageData.name)
                    )"
                    (mouseleave)="startLinkContainerAnimation(
                        setCurrentLinkContainerAnimationStateIndex(imageData.name)
                    )"
                >
                    <img [src]="'/assets/images_thumbnail/gallery/' + photographyType + '/' + imageData.name"
                        class="img-fluid rounded" alt=""
                        [ngClass]="{ 'opacity-0': imageData.description === 'empty_image' }"
                    >
                    <div *ngIf="activeClientType === 'admin'" class="position-absolute top-100 start-50 d-flex flex-row justify-content-center z-1 downloadOriginalImageLinkContainer"
                        [@link-container-animation]="linkContainerAnimationStates[setCurrentLinkContainerAnimationStateIndex(imageData.name)]"
                        (@link-container-animation.start)="linkContainerAnimationStarted($event, setCurrentLinkContainerAnimationStateIndex(
                            imageData.name)
                        )"
                        (@link-container-animation.done)="linkContainerAnimationDone($event, setCurrentLinkContainerAnimationStateIndex(
                            imageData.name)
                        )"
                        [ngStyle]="{ 
                            'display': linkContainerAnimationDisplayValues[setCurrentLinkContainerAnimationStateIndex(imageData.name)]
                        }"
                    >
                        <div class="input-group justify-content-center flex-nowrap w-70">
                            <button class="btn btn-success btn-sm" type="button" (click)="downloadOriginalImage(imageData.name)">
                                <i class="bi bi-download"></i>
                            </button>
                            <span class="input-group-text text-wrap text-bg-light fw-medium p-0 px-1 border-0 user-select-none">
                                {{ 'GALLERYPAGE.DOWNLOADORIGINALIMAGEBUTTONTEXT' | translate }}
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<ng-template #noContentBlock>
    <div class="noContentBlock text-center text-info fs-4 p-4">
        <span>{{ 'NOIMAGESMESSAGE' | translate }}</span>
    </div>
</ng-template>
<div *ngIf="photographyTypeDescription" class="p-5" id="titleHeaderContainer">
    <div class="text-center p-3 rounded shadow">
        <p class="fs-3 font-family-roboto-mono-light" id="titleHeader">
            {{ photographyTypeDescription }}
        </p>
    </div>
</div> 
<div class="text-center w-100 mb-5"
    [ngClass]="{ 'mt-5': !photographyTypeDescription }"
>
    <button type="button" class="btn btn-outline-success btn-lg" id="orderButton" 
        (click)="changeSendOrderFormAnimationState()"
    >
        {{ 'GALLERYPAGE.ORDERBUTTONTEXT' | translate }}
    </button>
</div>
<div class="px-2 pb-5" id="pricesContainer">
    <div class="d-flex flex-row justify-content-center align-items-center h-100 w-100" [ngSwitch]="photographyType">
        <ng-template ngSwitchCase="individual">
            <div class="">
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.INDIVIDUAL' | translate }}
                    </h3>
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.STANDARDPACKAGETITLE' | translate }}
                    </h3>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.INDIVIDUAL.STANDARDPACKAGE.PART1' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.INDIVIDUAL.STANDARDPACKAGE.PART2' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.INDIVIDUAL.STANDARDPACKAGE.PART3' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.INDIVIDUAL.STANDARDPACKAGE.PART4' | translate }}
                    </p>
                </div>
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.INDIVIDUAL.STANDARDPACKAGE.PRICE' | translate }}
                    </h3>
                </div>
            </div>
        </ng-template>
        <ng-template ngSwitchCase="children">
            <div class="">
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.CHILDREN' | translate }}
                    </h3>
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.STANDARDPACKAGETITLE' | translate }}
                    </h3>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.CHILDREN.STANDARDPACKAGE.PART1' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.CHILDREN.STANDARDPACKAGE.PART2' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.CHILDREN.STANDARDPACKAGE.PART3' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.CHILDREN.STANDARDPACKAGE.PART4' | translate }}
                    </p>
                </div>
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.CHILDREN.STANDARDPACKAGE.PRICE' | translate }}
                    </h3>
                </div>
            </div>
        </ng-template>
        <ng-template ngSwitchCase="wedding">
            <div class="d-flex flex-column justify-content-start align-items-center h-100 w-50 multiplePackagesBlock">
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.WEDDING' | translate }}
                    </h3>
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.STANDARDPACKAGETITLE' | translate }}
                    </h3>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.WEDDING.STANDARDPACKAGE.PART1' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.WEDDING.STANDARDPACKAGE.PART2' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.WEDDING.STANDARDPACKAGE.PART3' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.WEDDING.STANDARDPACKAGE.PART4' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.WEDDING.STANDARDPACKAGE.PART5' | translate }}
                    </p>
                </div>
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.WEDDING.STANDARDPACKAGE.PRICE' | translate }}
                    </h3>
                </div>
            </div>
            <div class="vr mx-5" [ngStyle]="{ 'width': '3px' }"></div>
            <div class="d-flex flex-column justify-content-start align-items-center h-100 w-50 multiplePackagesBlock">
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.WEDDING' | translate }}
                    </h3>
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.MAXIMUMPACKAGETITLE' | translate }}
                    </h3>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.WEDDING.MAXIMUMPACKAGE.PART1' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.WEDDING.MAXIMUMPACKAGE.PART2' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.WEDDING.MAXIMUMPACKAGE.PART3' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.WEDDING.MAXIMUMPACKAGE.PART4' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.WEDDING.MAXIMUMPACKAGE.PART5' | translate }}
                    </p>
                </div>
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.WEDDING.MAXIMUMPACKAGE.PRICE' | translate }}
                    </h3>
                </div>
            </div>
        </ng-template>
        <ng-template ngSwitchCase="family">
            <div class="d-flex flex-column justify-content-start align-items-center h-100 w-50 multiplePackagesBlock">
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.FAMILY' | translate }}
                    </h3>
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.STANDARDPACKAGETITLE' | translate }}
                    </h3>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.FAMILY.STANDARDPACKAGE.PART1' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.FAMILY.STANDARDPACKAGE.PART2' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.FAMILY.STANDARDPACKAGE.PART3' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.FAMILY.STANDARDPACKAGE.PART4' | translate }}
                    </p>
                </div>
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.FAMILY.STANDARDPACKAGE.PRICE' | translate }}
                    </h3>
                </div>
            </div>
            <div class="vr mx-5" [ngStyle]="{ 'width': '3px' }"></div>
            <div class="d-flex flex-column justify-content-start align-items-center h-100 w-50 multiplePackagesBlock">
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.WEDDING' | translate }}
                    </h3>
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.MAXIMUMPACKAGETITLE' | translate }}
                    </h3>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.FAMILY.MAXIMUMPACKAGE.PART1' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.FAMILY.MAXIMUMPACKAGE.PART2' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.FAMILY.MAXIMUMPACKAGE.PART3' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESCONTAINER.FAMILY.MAXIMUMPACKAGE.PART4' | translate }}
                    </p>
                </div>
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'PRICESCONTAINER.FAMILY.MAXIMUMPACKAGE.PRICE' | translate }}
                    </h3>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<div class="d-flex flex-column w-50 position-absolute visible overflow-y-auto pe-auto" [@send-order-form-animation]="sendOrderFormAnimationState"
    (@send-order-form-animation.start)="sendOrderFormAnimationStarted($event)"
    (@send-order-form-animation.done)="sendOrderFormAnimationDone($event)"
    #sendOrderFormContainer
>
    <button type="button" class="btn-close mb-1 align-self-end" aria-label="Close" (click)="changeSendOrderFormAnimationState()"></button>
    <form [formGroup]="sendOrderForm" class="" novalidate (submit)="sendOrder()">
        <div class="form-group form-floating mb-3">
            <select class="form-control form-select" id="inputType" formControlName="orderType">
                <option value="consultation" selected>{{ 'CLIENTORDERTYPES.CONSULTATION' | translate }}</option>
                <option value="full">{{ 'CLIENTORDERTYPES.FULL' | translate }}</option>
            </select>
            <label for="inputType" class="form-label text-wrap">{{ 'SENDORDERFORM.ORDERTYPETEXT' | translate }}</label>
            <div class="alert alert-danger" *ngIf="sendOrderForm.controls['orderType'].invalid && sendOrderForm.controls['orderType'].touched">
                {{ 'SENDORDERFORM.ORDERTYPEINVALIDMESSAGE' | translate }}
            </div>
        </div>
        <div class="form-group form-floating mb-3">
            <input type="tel" class="form-control" id="inputPhoneNumber" formControlName="clientPhoneNumber"
                placement="top"
                tooltipClass="custom-tooltip"
                [ngbTooltip]="'GALLERYPAGE.HELPBLOCKS.CLIENTPHONENUMBER' | translate"
            >
            <label for="inputPhoneNumber" class="form-label text-wrap">{{ 'SENDORDERFORM.CLIENTPHONENUMBERTEXT' | translate }}</label>
            <div class="alert alert-danger" *ngIf="sendOrderForm.controls['clientPhoneNumber'].invalid && sendOrderForm.controls['clientPhoneNumber'].touched">
                {{ 'SENDORDERFORM.CLIENTPHONENUMBERINVALIDMESSAGE' | translate }}
            </div>
        </div>
        <div class="form-group form-floating mb-3">
            <textarea class="form-control" id="inputComment" rows="8" maxlength="800" formControlName="comment"
                placement="top"
                tooltipClass="custom-tooltip"
                [ngbTooltip]="'GALLERYPAGE.HELPBLOCKS.COMMENT' | translate"
            ></textarea>
            <label for="inputComment" class="form-label text-wrap">{{ 'SENDORDERFORM.COMMENTTEXT' | translate }}</label>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary" [disabled]="sendOrderForm.invalid">
                {{ 'SENDORDERFORM.SUBMITBUTTONTEXT' | translate }}
            </button>
        </div>
    </form>
</div>