@media (max-width: 992px) {
    #titleHeaderContainer {
        padding: 0.5rem !important;
    }

    #titleHeader {
        font-size: 1.25rem !important;
    }

    .smallSizedImagesContainer {
        width: 70vw !important;
    }

    .mediumSizedImagesContainer {
        width: 90vw !important;
    }

    .bigSizedImagesContainer {
        width: 100vw !important;
    }

    .smallSizedImagesContainer, .mediumSizedImagesContainer, .bigSizedImagesContainer {
        flex-wrap: wrap !important;
    }

    .smallSizedImagesContainer > div {
        width: 35% !important;
        flex: 1 1 auto !important;
    }

    .mediumSizedImagesContainer > div {
        width: 40% !important;
        flex: 1 1 auto !important;
    }

    .bigSizedImagesContainer > div {
        width: 85% !important;
    }

    .downloadOriginalImageLinkContainer a {
        width: 80% !important;
        --bs-btn-padding-y: .25rem; 
        --bs-btn-padding-x: .5rem; 
        --bs-btn-font-size: .60rem;
    }
}