<h1 class="display-4 text-center">{{ 'GALLERYPAGE.HEADERTITLE' | translate }}</h1>
<div class="p-5" id="titleHeaderContainer">
    <div class="text-bg-danger text-center p-3 h-100 rounded">
        <h1 class="display-6" id="titleHeader">{{ photographyTypeDescription }}</h1>
    </div>
</div> 
<div class="text-center w-100">
    <button type="button" class="btn btn-outline-success btn-lg" id="orderButton" 
        (click)="changeSendOrderFormAnimationState()"
    >{{ 'GALLERYPAGE.ORDERBUTTONTEXT' | translate }}</button>
    <hr class="border-3 mt-5 w-100"/>
</div>
<div *ngIf="compressedImagesList; else noContentBlock" class="d-flex flex-column align-items-center justify-content-center vw-95" id="galleryImages">
    <div *ngFor="let imageDataArr of compressedImagesList.small" class="d-flex flex-row justify-content-center align-items-center mb-2 smallSizedImagesContainer">
        <ng-template ngFor let-imageData [ngForOf]="imageDataArr" let-i="index">
            <div class="d-flex flex-row position-relative h-auto w-25"
                [ngClass]="{ 
                    'me-2': i !== imageDataArr.length - 1, 
                    'twoFirstImageContainer': i === 0 || i === 1 
                }"
                (mouseenter)="startLinkContainerAnimation(
                    setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType), 
                    imageData.viewSizeType
                )"
                (mouseleave)="startLinkContainerAnimation(
                    setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType), 
                    imageData.viewSizeType
                )"
            >
                <img src="/assets/images_thumbnail/gallery/{{ photographyType }}/{{ imageData.name }}" class="img-fluid rounded h-100">
                <div class="text-center position-absolute top-100 start-50 w-100 downloadOriginalImageLinkContainer"
                    [@link-container-animation]="smallLinkContainerAnimationStates[setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType)]"
                    (@link-container-animation.start)="linkContainerAnimationStarted($event, setCurrentLinkContainerAnimationStateIndex(
                        imageData.name, imageData.viewSizeType), 
                        imageData.viewSizeType
                    )"
                    (@link-container-animation.done)="linkContainerAnimationDone($event, setCurrentLinkContainerAnimationStateIndex(
                        imageData.name, imageData.viewSizeType), 
                        imageData.viewSizeType
                    )"
                    [ngStyle]="{ 
                        'display': smallLinkContainerAnimationDisplayValues[setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType)]
                    }"
                >
                    <a href="/api/client/downloadOriginalImage/:{{ imageData.name }}" class="btn btn-secondary btn-sm" 
                        tabindex="-1" role="button" aria-disabled="true"
                    >
                        {{ 'GALLERYPAGE.DOWNLOADORIGINALIMAGEBUTTONTEXT' | translate }}
                    </a>
                </div>
            </div>
        </ng-template>
    </div>
    <div *ngFor="let imageDataArr of compressedImagesList.medium" class="d-flex flex-row justify-content-center align-items-center mb-2 mediumSizedImagesContainer">
        <ng-template ngFor let-imageData [ngForOf]="imageDataArr" let-i="index">
            <div class="d-flex flex-row position-relative h-auto w-50"
                [ngClass]="{ 
                    'me-2': i !== imageDataArr.length - 1,
                    'twoFirstImageContainer': i === 0 || i === 1
                }"
                (mouseenter)="startLinkContainerAnimation(
                    setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType), 
                    imageData.viewSizeType
                )"
                (mouseleave)="startLinkContainerAnimation(
                    setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType), 
                    imageData.viewSizeType
                )"
            >
                <img src="/assets/images_thumbnail/gallery/{{ photographyType }}/{{ imageData.name }}" class="img-fluid rounded h-100">
                <div class="text-center position-absolute top-100 start-50 w-100 downloadOriginalImageLinkContainer"
                    [@link-container-animation]="mediumLinkContainerAnimationStates[setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType)]"
                    (@link-container-animation.start)="linkContainerAnimationStarted($event, setCurrentLinkContainerAnimationStateIndex(
                        imageData.name, imageData.viewSizeType), 
                        imageData.viewSizeType
                    )"
                    (@link-container-animation.done)="linkContainerAnimationDone($event, setCurrentLinkContainerAnimationStateIndex(
                        imageData.name, imageData.viewSizeType), 
                        imageData.viewSizeType
                    )"
                    [ngStyle]="{ 
                        'display': mediumLinkContainerAnimationDisplayValues[setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType)]
                    }"
                >
                    <a href="/api/client/downloadOriginalImage/:{{ imageData.name }}" class="btn btn-secondary btn-sm" 
                        tabindex="-1" role="button" aria-disabled="true"
                    >
                    {{ 'GALLERYPAGE.DOWNLOADORIGINALIMAGEBUTTONTEXT' | translate }}
                    </a>
                </div>
            </div>
        </ng-template>
    </div>
    <div *ngFor="let imageDataArr of compressedImagesList.big" class="d-flex flex-row justify-content-center align-items-center mb-2 bigSizedImagesContainer">
        <ng-template ngFor let-imageData [ngForOf]="imageDataArr" let-i="index">
            <div class="d-flex flex-row position-relative h-auto w-75"
                [ngClass]="{ 
                    'me-2': i !== imageDataArr.length - 1,
                    'twoFirstImageContainer': i === 0 || i === 1
                }"
                (mouseenter)="startLinkContainerAnimation(
                    setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType), 
                    imageData.viewSizeType
                )"
                (mouseleave)="startLinkContainerAnimation(
                    setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType), 
                    imageData.viewSizeType
                )"
            >
                <img src="/assets/images_thumbnail/gallery/{{ photographyType }}/{{ imageData.name }}" class="img-fluid rounded h-100">
                <div class="text-center position-absolute top-100 start-50 w-100 downloadOriginalImageLinkContainer"
                    [@link-container-animation]="bigLinkContainerAnimationStates[setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType)]"
                    (@link-container-animation.start)="linkContainerAnimationStarted($event, setCurrentLinkContainerAnimationStateIndex(
                        imageData.name, imageData.viewSizeType), 
                        imageData.viewSizeType
                    )"
                    (@link-container-animation.done)="linkContainerAnimationDone($event, setCurrentLinkContainerAnimationStateIndex(
                        imageData.name, imageData.viewSizeType), 
                        imageData.viewSizeType
                    )"
                    [ngStyle]="{
                        'display': bigLinkContainerAnimationDisplayValues[setCurrentLinkContainerAnimationStateIndex(imageData.name, imageData.viewSizeType)]
                    }"
                >
                    <a href="/api/client/downloadOriginalImage/:{{ imageData.name }}" class="btn btn-secondary btn-sm" 
                        tabindex="-1" role="button" aria-disabled="true"
                    >
                    {{ 'GALLERYPAGE.DOWNLOADORIGINALIMAGEBUTTONTEXT' | translate }}
                    </a>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<ng-template #noContentBlock>
    <div class="noContentBlock text-center text-info fs-4 p-4">
        <span>{{ 'NOIMAGESMESSAGE' | translate }}</span>
    </div>
</ng-template>
<div class="d-flex flex-column w-50 position-absolute top-50 start-50 visible pe-auto" #sendOrderFormContainer [@send-order-form-animation]="sendOrderFormAnimationState"
    (@send-order-form-animation.start)="sendOrderFormAnimationStarted($event)"
    (@send-order-form-animation.done)="sendOrderFormAnimationDone($event)"
>
    <button type="button" class="btn-close mb-1 align-self-end" aria-label="Close" (click)="changeSendOrderFormAnimationState()"></button>
    <form [formGroup]="sendOrderForm" class="" novalidate (submit)="sendOrder()">
        <div class="form-group form-floating mb-3">
            <select class="form-control form-select" id="inputType" formControlName="orderType">
                <option value="consultation" selected>{{ 'CLIENTORDERTYPES.CONSULTATION' | translate }}</option>
                <option value="full">{{ 'CLIENTORDERTYPES.FULL' | translate }}</option>
            </select>
            <label for="inputType" class="form-label text-wrap">{{ 'SENDORDERFORM.ORDERTYPETEXT' | translate }}</label>
            <div class="alert alert-danger" *ngIf="sendOrderForm.controls['orderType'].invalid && sendOrderForm.controls['orderType'].touched">
                {{ 'SENDORDERFORM.ORDERTYPEINVALIDMESSAGE' | translate }}
            </div>
        </div>
        <div class="form-group form-floating mb-3">
            <input type="tel" class="form-control" id="inputPhoneNumber" formControlName="clientPhoneNumber"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                [attr.data-bs-title]="'GALLERYPAGE.HELPBLOCKS.CLIENTPHONENUMBER' | translate"
            >
            <label for="inputPhoneNumber" class="form-label text-wrap">{{ 'SENDORDERFORM.CLIENTPHONENUMBERTEXT' | translate }}</label>
            <div class="alert alert-danger" *ngIf="sendOrderForm.controls['clientPhoneNumber'].invalid && sendOrderForm.controls['clientPhoneNumber'].touched">
                {{ 'SENDORDERFORM.CLIENTPHONENUMBERINVALIDMESSAGE' | translate }}
            </div>
        </div>
        <div class="form-group form-floating mb-3">
            <textarea class="form-control" id="inputComment" rows="8" maxlength="30" formControlName="comment"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                [attr.data-bs-title]="'GALLERYPAGE.HELPBLOCKS.COMMENT' | translate"
            ></textarea>
            <label for="inputComment" class="form-label text-wrap">{{ 'SENDORDERFORM.COMMENTTEXT' | translate }}</label>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary" [disabled]="sendOrderForm.invalid">
                {{ 'SENDORDERFORM.SUBMITBUTTONTEXT' | translate }}
            </button>
        </div>
    </form>
</div>
<ng-template #appModal></ng-template>