<form [formGroup]="signForm" class="mt-5 p-3 w-50" novalidate (submit)="sign()">
    <div class="form-group form-floating mb-3">
        <input type="text" class="form-control" id="inputLogin" formControlName="clientLogin"
            placement="top"
            tooltipClass="custom-tooltip"
            [ngbTooltip]="'CLIENTPAGE.HELPBLOCKS.LOGIN' | translate"
            [disableTooltip]="signOp === 'in'"
        >
        <label for="inputLogin" class="form-label text-wrap">
            {{ signOp === 'up' ? ('LOGINFORM.LOGINLABELTEXT' | translate) : ('LOGINFORM.LOGINLABELTEXT' | translate | replace:' *':'') }}
        </label>
        <div class="alert alert-danger" *ngIf="signForm.controls['clientLogin'].invalid && signForm.controls['clientLogin'].touched">
            {{ 'CLIENTPAGE.LOGININVALIDMESSAGE' | translate }}
        </div>
    </div>
    <div class="form-group form-floating mb-3">
        <input type="password" class="form-control" id="inputPassword" formControlName="clientPassword"
            placement="top"
            tooltipClass="custom-tooltip"
            [ngbTooltip]="'CLIENTPAGE.HELPBLOCKS.PASSWORD' | translate"
            [disableTooltip]="signOp === 'in'"
        >
        <label for="inputPassword" class="form-label text-wrap">
            {{ signOp === 'up' ? ('LOGINFORM.PASSWORDLABELTEXT' | translate) : ('LOGINFORM.PASSWORDLABELTEXT' | translate | replace:' *':'') }}
        </label>
        <div class="alert alert-danger" *ngIf="signForm.controls['clientPassword'].invalid && signForm.controls['clientPassword'].touched">
            {{ 'CLIENTPAGE.PASSWORDINVALIDMESSAGE' | translate }}
        </div>
    </div>
    <div *ngIf="signOp === 'up'" class="form-group form-floating mb-3">
        <input type="text" class="form-control" id="inputFullName" formControlName="clientFullName"
            placement="top"
            tooltipClass="custom-tooltip"
            [ngbTooltip]="'CLIENTPAGE.HELPBLOCKS.FULLNAME' | translate"
        >
        <label for="inputFullName" class="form-label text-wrap">{{ 'LOGINFORM.FULLNAMELABELTEXT' | translate }}</label>
        <div class="alert alert-danger" *ngIf="signForm.controls['clientFullName'].invalid && signForm.controls['clientFullName'].touched">
            {{ 'CLIENTPAGE.FULLNAMEINVALIDMESSAGE' | translate }}
        </div>
    </div>
    <div *ngIf="signOp === 'up'" class="form-group form-floating mb-3">
        <input type="email" class="form-control" id="inputEmail" formControlName="clientEmail">
        <label for="inputEmail" class="form-label text-wrap">Email</label>
        <div class="alert alert-danger" *ngIf="signForm.controls['clientEmail'].invalid && signForm.controls['clientEmail'].touched">
            {{ 'CLIENTPAGE.EMAILINVALIDMESSAGE' | translate }}
        </div>
    </div>
    <div class="form-group d-flex flex-column flex-wrap justify-content-center align-content-center">
        <button class="btn btn-primary" [disabled]="signForm.invalid">
            {{signOp === 'up' ? ('CLIENTMENU.SIGNUPTEXT' | translate): ('CLIENTMENU.SIGNINTEXT' | translate) }} 
        </button>
        <div class="mt-2 text-center">
            <span *ngIf="signOp === 'up'; else signInSpan" class="fw-bold">
                {{ 'CLIENTPAGE.ACCOUNTHAVEMESSAGES.HAVE' | translate }}
                (<a class="link-offset-3 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover" routerLink="/signIn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    {{ 'CLIENTMENU.SIGNINTEXT' | translate }}
                </a>)
            </span>
            <ng-template #signInSpan>  
                <span class="fw-bold">
                    {{ 'CLIENTPAGE.ACCOUNTHAVEMESSAGES.HAVENT' | translate }} 
                    (<a class="link-offset-3 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover" routerLink="/signUp" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        {{ 'CLIENTMENU.SIGNUPTEXT' | translate }}
                    </a>)
                </span>
            </ng-template>
        </div>
    </div>
</form>
<ng-template #appModal></ng-template>