<div class="d-flex flex-column" id="controls">
    <div class="p-3" id="images" [attr.getFullCompressedImagesDataResult]="getFullCompressedImagesDataResult">
        <div id="listContainer">
            <table *ngIf="fullCompressedImagesListCount !== 0; else noContentBlock" class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Оригинальное имя</th>
                        <th scope="col">Размер оригинального изображения</th>
                        <th scope="col">Загружен</th>
                        <th scope="col">Отображён на главной</th>
                        <th scope="col">Отображён на галерее</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let compressedImage of fullCompressedImagesList; let i = index">
                        <th scope="row">{{i}}</th>
                        <td>{{compressedImage.originalImageName}}</td>
                        <td>{{compressedImage.originalImageSize}}</td>
                        <td>{{compressedImage.uploadDate}}</td>
                        <td>{{compressedImage.displayedOnHomePage}}</td>
                        <td>{{compressedImage.displayedOnGalleryPage}}</td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noContentBlock>  
                <div class="noContentBlock text-center text-danger fs-4 p-4">
                    <span class="fw-bold">Загруженных изображений пока нет</span>
                </div>
            </ng-template>
        </div>
        <div id="uploadImageContainer">
            <div class="input-group">
                <input type="file" class="form-control" id="inputGroupUploadImage" aria-describedby="uploadImageButton" aria-label="Upload" (change)="fileChange($event)" #uploadImageInput [disabled]="!fileSelected">
                <button class="btn btn-outline-secondary" type="button" id="uploadImageButton" (click)="uploadImage()">Загрузить новое изображение</button>
            </div>
            <div class="text-center">
                <span class="text-danger fw-bold" id="responseMessage">{{responseMessage}}</span>
            </div>
        </div>
    </div>
</div>
<ng-template #appModal></ng-template>