@media screen and (max-width: 768px), only screen 
and (width: 393px) 
and (height: 852px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 430px) 
and (height: 932px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 390px) 
and (height: 844px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 428px) 
and (height: 926px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 375px) 
and (height: 812px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 414px) 
and (height: 896px) 
and (-webkit-device-pixel-ratio: 2),
only screen 
and (width: 414px) 
and (height: 896px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 375px) 
and (height: 667px) 
and (-webkit-device-pixel-ratio: 2) {
    :host ::ng-deep #uploadImageAccordion, :host ::ng-deep #changeImageDataContainer {
        width: 100% !important;
    }
}

:host ::ng-deep .imagePhotographyTypeDescriptionAccordion .accordion-button {
    padding: 0.2rem 1rem;
}

:host ::ng-deep #uploadImageAccordion .accordion-body {
    padding: 1.2rem !important;
}