nav {
    position: sticky !important;
    bottom: 0 !important;
    z-index: 1020 !important;
}

@media screen and (max-width: 650px), only screen 
and (width: 393px) 
and (height: 852px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 430px) 
and (height: 932px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 390px) 
and (height: 844px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 428px) 
and (height: 926px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 375px) 
and (height: 812px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 414px) 
and (height: 896px) 
and (-webkit-device-pixel-ratio: 2),
only screen 
and (width: 414px) 
and (height: 896px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 375px) 
and (height: 667px) 
and (-webkit-device-pixel-ratio: 2) {
    :host ::ng-deep #ngbCarousel.twoImagesOnSlide {
        height: 100% !important;
    }

    .multipleImagesSlide {
        flex-direction: column !important;
    }

    .multipleImagesSlide > div:first-child {
        margin-right: 0 !important;
        margin-bottom: .25rem !important;
    }

    .multipleImagesSlide > div {
        width: auto !important;
    }
}

@media (min-width: 2101px) {
    :host ::ng-deep #ngbCarousel {
        flex: 0 0 auto;
        width: 26.66666667%;
    }

    :host ::ng-deep #ngbCarousel.twoImagesOnSlide {
        flex: 0 0 auto;
        width: 52.33333333%;
    }
}