<ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" [interval]="0" [animation]="false" class="col-9 col-sm-9 col-md-5 col-lg-7 col-xl-4 col-xxl-4" id="ngbCarousel" #ngbCarousel="ngbCarousel" 
    [ngClass]="{
        
        'col-sm-11': ngbCarouselElementClassesdAreActive,
        'col-md-9': ngbCarouselElementClassesdAreActive,
        
        'col-xl-8': ngbCarouselElementClassesdAreActive,
        'col-xxl-8': ngbCarouselElementClassesdAreActive,
        'twoImagesOnSlide': ngbCarouselElementClassesdAreActive
    }"
> <!-- col-md-8 -->
    <!--
        'col-11': ngbCarouselElementClassesdAreActive,
        'col-sm-11': ngbCarouselElementClassesdAreActive,
        'col-md-11': ngbCarouselElementClassesdAreActive,
        'col-lg-10': ngbCarouselElementClassesdAreActive,
        'col-xl-10': ngbCarouselElementClassesdAreActive,
        'col-xxl-6': ngbCarouselElementClassesdAreActive
    -->
    <ng-template ngbSlide [id]="'ngb-slide-0'">
        <div class="">
            <img src="/assets/images_full/pricesPage/171925284936020.jpg" class="img-fluid rounded" alt="Random first slide" />
            <div class="d-flex flex-column justify-content-start align-items-center position-absolute top-50 start-50 translate-middle h-100 w-100 px-3 overflow-y-auto text-white">
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.INDIVIDUAL' | translate }}
                    </h3>
                    <h3 class="user-select-none">
                        {{ 'PRICESPAGE.STANDARDPACKAGETITLE' | translate }}
                    </h3>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.INDIVIDUAL.STANDARDPACKAGE.PART1' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.INDIVIDUAL.STANDARDPACKAGE.PART2' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.INDIVIDUAL.STANDARDPACKAGE.PART3' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.INDIVIDUAL.STANDARDPACKAGE.PART4' | translate }}
                    </p>
                </div>
                <div class="pb-5 text-center">
                    <h3 class="user-select-none">
                        {{ 'PRICESPAGE.INDIVIDUAL.STANDARDPACKAGE.PART5' | translate }}
                    </h3>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide [id]="'ngb-slide-1'">
        <div class="">
            <img src="/assets/images_full/pricesPage/1719252831594684.jpg" class="img-fluid rounded" alt="Random second slide" />
            <div class="d-flex flex-column justify-content-start align-items-center position-absolute top-50 start-50 translate-middle h-100 w-100 px-3 overflow-y-auto text-white">
                <div class="text-center">
                    <h3 class="user-select-none">
                        {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.CHILDREN' | translate }}
                    </h3>
                    <h3 class="user-select-none">
                        {{ 'PRICESPAGE.STANDARDPACKAGETITLE' | translate }}
                    </h3>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.CHILDREN.STANDARDPACKAGE.PART1' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.CHILDREN.STANDARDPACKAGE.PART2' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.CHILDREN.STANDARDPACKAGE.PART3' | translate }}
                    </p>
                    <p class="fs-3 user-select-none">
                        <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.CHILDREN.STANDARDPACKAGE.PART4' | translate }}
                    </p>
                </div>
                <div class="pb-5 text-center">
                    <h3 class="user-select-none">
                        {{ 'PRICESPAGE.CHILDREN.STANDARDPACKAGE.PART5' | translate }}
                    </h3>
                </div>
            </div>
        </div>
    </ng-template>





    <ng-template ngbSlide [id]="'ngb-slide-2'">
        <div class="d-flex flex-row justify-content-center align-items-center multipleImagesSlide">
            <div class="position-relative w-50 me-1">
                <img src="/assets/images_full/pricesPage/1719765454806540.jpg" class="img-fluid rounded" alt="Random third slide" />
                <div class="d-flex flex-column justify-content-start align-items-center position-absolute top-50 start-50 translate-middle h-100 w-100 px-3 overflow-y-auto text-white">
                    <div class="text-center">
                        <h3 class="user-select-none">
                            {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.WEDDING' | translate }}
                        </h3>
                        <h3 class="user-select-none">
                            {{ 'PRICESPAGE.STANDARDPACKAGETITLE' | translate }}
                        </h3>
                    </div>
                    <div class="flex-grow-1 d-flex flex-column justify-content-center">
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.WEDDING.STANDARDPACKAGE.PART1' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.WEDDING.STANDARDPACKAGE.PART2' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.WEDDING.STANDARDPACKAGE.PART3' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.WEDDING.STANDARDPACKAGE.PART4' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.WEDDING.STANDARDPACKAGE.PART5' | translate }}
                        </p>
                    </div>
                    <div class="pb-5 text-center">
                        <h3 class="user-select-none">
                            {{ 'PRICESPAGE.WEDDING.STANDARDPACKAGE.PART6' | translate }}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="position-relative w-50">
                <img src="/assets/images_full/pricesPage/1720040103724985.jpg" class="img-fluid rounded" alt="Random third slide" />
                <div class="d-flex flex-column justify-content-start align-items-center position-absolute top-50 start-50 translate-middle h-100 w-100 px-3 overflow-y-auto text-white">
                    <div class="text-center">
                        <h3 class="user-select-none">
                            {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.WEDDING' | translate }}
                        </h3>
                        <h3 class="user-select-none">
                            {{ 'PRICESPAGE.MAXIMUMPACKAGETITLE' | translate }}
                        </h3>
                    </div>
                    <div class="flex-grow-1 d-flex flex-column justify-content-center">
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.WEDDING.MAXIMUMPACKAGE.PART1' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.WEDDING.MAXIMUMPACKAGE.PART2' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.WEDDING.MAXIMUMPACKAGE.PART3' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.WEDDING.MAXIMUMPACKAGE.PART4' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.WEDDING.MAXIMUMPACKAGE.PART5' | translate }}
                        </p>
                    </div>
                    <div class="pb-5 text-center">
                        <h3 class="user-select-none">
                            {{ 'PRICESPAGE.WEDDING.MAXIMUMPACKAGE.PART6' | translate }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide [id]="'ngb-slide-3'">
        <div class="d-flex flex-row justify-content-center align-items-center multipleImagesSlide">
            <div class="position-relative w-50 me-1">
                <img src="/assets/images_full/pricesPage/1719252821310521.jpg" class="img-fluid rounded" alt="Random fourth slide" />
                <div class="d-flex flex-column justify-content-start align-items-center position-absolute top-50 start-50 translate-middle h-100 w-100 px-3 overflow-y-auto text-white">
                    <div class="text-center">
                        <h3 class="user-select-none">
                            {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.FAMILY' | translate }}
                        </h3>
                        <h3 class="user-select-none">
                            {{ 'PRICESPAGE.STANDARDPACKAGETITLE' | translate }}
                        </h3>
                    </div>
                    <div class="flex-grow-1 d-flex flex-column justify-content-center">
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.FAMILY.STANDARDPACKAGE.PART1' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.FAMILY.STANDARDPACKAGE.PART2' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.FAMILY.STANDARDPACKAGE.PART3' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.FAMILY.STANDARDPACKAGE.PART4' | translate }}
                        </p>
                    </div>
                    <div class="pb-5 text-center">
                        <h3 class="user-select-none">
                            {{ 'PRICESPAGE.FAMILY.STANDARDPACKAGE.PART5' | translate }}
                        </h3>
                    </div>
                </div>
            </div>
            <div class="position-relative w-50">
                <img src="/assets/images_full/pricesPage/1719252819808197.jpg" class="img-fluid rounded" alt="Random second slide" />
                <div class="d-flex flex-column justify-content-start align-items-center position-absolute top-50 start-50 translate-middle h-100 w-100 px-3 overflow-y-auto text-white">
                    <div class="text-center">
                        <h3 class="user-select-none">
                            {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.WEDDING' | translate }}
                        </h3>
                        <h3 class="user-select-none">
                            {{ 'PRICESPAGE.MAXIMUMPACKAGETITLE' | translate }}
                        </h3>
                    </div>
                    <div class="flex-grow-1 d-flex flex-column justify-content-center">
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.FAMILY.MAXIMUMPACKAGE.PART1' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.FAMILY.MAXIMUMPACKAGE.PART2' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.FAMILY.MAXIMUMPACKAGE.PART3' | translate }}
                        </p>
                        <p class="fs-3 user-select-none">
                            <i class="bi bi-check2-square"></i> {{ 'PRICESPAGE.FAMILY.MAXIMUMPACKAGE.PART4' | translate }}
                        </p>
                    </div>
                    <div class="pb-5 text-center">
                        <h3 class="user-select-none">
                            {{ 'PRICESPAGE.FAMILY.MAXIMUMPACKAGE.PART5' | translate }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</ngb-carousel>