<div class="vw-100 section" id="imagesCarouselContainer" #scrollSnapSection>
    <ngb-carousel *ngIf="compressedImagesList" class="carousel carousel-fade h-100 w-100" id="imagesCarousel"
        [interval]="3000"
        [showNavigationArrows]="compressedImagesList.length !== 1"
        [showNavigationIndicators]="compressedImagesList.length !== 1"
    >
        <ng-template ngbSlide *ngFor="let imageData of compressedImagesList; let i = index">
            <img src="/assets/images_thumbnail/home/{{ imageData.name }}" class="h-100 w-100 object-fit-cover align-baseline">
        </ng-template>
    </ngb-carousel>
</div>
<div class="w-100 my-3 section" #scrollSnapSection>
    <ngb-carousel *ngIf="discountsData; else noDiscountsDataBlock" class="carousel w-100" id="discountsCarousel" 
        [interval]="0"
        [showNavigationArrows]="discountsData.length !== 1"
        [showNavigationIndicators]="discountsData.length !== 1"
    >
        <ng-template ngbSlide *ngFor="let discountData of discountsData; let i = index">
            <div class="h-100 w-100 text-center text-light">
                <p class="row justify-content-center align-items-center h-100 h1">
                    {{ discountData.content }}
                </p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<ng-template #noDiscountsDataBlock>
    <div class="text-center text-info fw-semibold fs-4 py-3">
        <span>{{ 'HOMEPAGE.NODISCOUNTSMESSAGE' | translate }}</span>
    </div>
</ng-template>
<div class="py-5 px-4 w-100 section" #scrollSnapSection>
    <h1 class="display-6 shadow-lg rounded-pill p-3 text-center">{{ 'HOMEPAGE.HEADERTITLE' | translate }}</h1>
</div>
<ng-template [ngIf]="imagePhotographyTypes && imagePhotographyTypes.length !== 0" >
    <ng-template ngFor let-imagePhotographyTypesDataArr [ngForOf]="imagePhotographyTypes" let-i="index">
        <div class="d-flex flex-row justify-content-center align-items-center px-5 pb-4 w-100 h-100 imagePhotographyTypesGroup section"
            [ngClass]="{ 'pt-4': i === 0 }"
            [style.backgroundColor]="'rgb(176 173 172)'"
            #scrollSnapSection
            #scrollSnapVisiableAnimationSection
        >
            <div *ngFor="let imagePhotographyTypeData of imagePhotographyTypesDataArr; let i2 = index"
                class="border-0 position-relative h-100 w-100"
                [ngClass]="{
                    'mw-50': imagePhotographyTypesDataArr.length !== 1,
                    'mw-100': imagePhotographyTypesDataArr.length === 1,
                    'me-4': i2 === 0 && imagePhotographyTypesDataArr.length !== 1
                }"
                (mouseenter)="startMouseTriggerAnimation(setCurrentMouseTriggerStateIndex(imagePhotographyTypeData.name))"
                (mouseleave)="startMouseTriggerAnimation(setCurrentMouseTriggerStateIndex(imagePhotographyTypeData.name))"
                (click)="startMouseTriggerAnimationClick(setCurrentMouseTriggerStateIndex(imagePhotographyTypeData.name))"
                [attr.mouse-trigger-state-index]="setCurrentMouseTriggerStateIndex(imagePhotographyTypeData.name)"
                [@scroll-snap-section-item-visiable-animation]="currentScrollSnapSectionVisiableAnimationStates[i].state"
            >
                <div class="d-flex flex-column text-center"
                    [ngClass]="{ 'justify-content-end': imagePhotographyTypesDataArr.length === 1 }"
                    (@mouseTrigger.start)="mouseTriggerAnimationStarted($event)"
                    [@mouseTrigger]="currentMouseTriggerStates[setCurrentMouseTriggerStateIndex(imagePhotographyTypeData.name)]"
                    [ngSwitch]="imagePhotographyTypeData.name"
                >
                    <img src="/assets/images_thumbnail/home/imagePhotographyTypes/{{ imagePhotographyTypeData.compressedImageName }}" 
                        class="h-80 rounded"
                    >
                    <span class="align-self-end mt-2 fs-5">
                        <ng-template ngSwitchCase="individual"> {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.INDIVIDUAL' | translate }}</ng-template>
                        <ng-template ngSwitchCase="children"> {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.CHILDREN' | translate }}</ng-template>
                        <ng-template ngSwitchCase="wedding"> {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.WEDDING' | translate }}</ng-template>
                        <ng-template ngSwitchCase="family"> {{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.FAMILY' | translate }}</ng-template>
                    </span>
                    <small class="align-self-end text-body-secondary">
                        {{ 'HOMEPAGE.PHOTOGRAPHYTYPESLINKTEXT' | translate }} <i class="bi bi-arrow-right"></i>
                    </small>
                </div>
                <div class="position-absolute top-50 start-50 w-50 linkButtonContainer"
                    [@link-button-container-animation]="currentLinkButtonContainerAnimationStates[setCurrentMouseTriggerStateIndex(imagePhotographyTypeData.name)]"
                >
                    <h5 class="text-center text-break" [ngSwitch]="imagePhotographyTypeData.name">
                        <ng-template ngSwitchCase="individual">{{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.INDIVIDUAL' | translate }}</ng-template>
                        <ng-template ngSwitchCase="children">{{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.CHILDREN' | translate }}</ng-template>
                        <ng-template ngSwitchCase="wedding">{{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.WEDDING' | translate }}</ng-template>
                        <ng-template ngSwitchCase="family">{{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.FAMILY' | translate }}</ng-template>
                    </h5>
                    <a [routerLink]="[ '/gallery', imagePhotographyTypeData.name ]" routerLinkActive="active" 
                        class="btn btn-outline-light align-items-center justify-content-center icon-link w-100 fs-4" 
                        tabindex="-1" role="button" aria-disabled="true"
                    >
                        <!-- {{ 'HOMEPAGE.PHOTOGRAPHYTYPESLINKTEXT' | translate | uppercase }} <i class="bi bi-arrow-right"></i> -->
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </ng-template>
</ng-template>
<div class="d-flex flex-column w-75 mt-3 mb-3 section" id="aboutSection"
    #scrollSnapSection
    #scrollSnapVisiableAnimationSection
>
    <div class="w-100 mx-auto mt-3"
        [@scroll-snap-section-item-visiable-animation]="currentScrollSnapSectionVisiableAnimationStates[currentScrollSnapSectionVisiableAnimationStates.length - 1] 
        ? currentScrollSnapSectionVisiableAnimationStates[currentScrollSnapSectionVisiableAnimationStates.length - 1].state : ''"
    >
        <p class="text-center lead">{{ 'HOMEPAGE.ABOUTTEXT.PART1' | translate }}</p>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center h-100 w-100 pb-3" id="aboutContainer"
        [@scroll-snap-section-item-visiable-animation]="currentScrollSnapSectionVisiableAnimationStates[currentScrollSnapSectionVisiableAnimationStates.length - 1] 
        ? currentScrollSnapSectionVisiableAnimationStates[currentScrollSnapSectionVisiableAnimationStates.length - 1].state : ''"
    >
        <img src="/assets/images_full/1697474336253508.jpg" class="h-100 mw-75 rounded shadow">
        <div class="d-flex flex-column align-items-center h-100 ms-4 overflow-x-auto overflow-y-auto">
            <p class="flex-fill text-start w-100 fs-5">{{ 'HOMEPAGE.ABOUTTEXT.PART2' | translate }}</p>
            <p class="flex-fill text-start w-100 fs-5">{{ 'HOMEPAGE.ABOUTTEXT.PART3' | translate }}</p>
            <p class="flex-fill text-start w-100 fs-5">{{ 'HOMEPAGE.ABOUTTEXT.PART4' | translate }}</p>
        </div>
    </div>
</div>
<div *ngIf="componentElementIsRendered" class="position-fixed top-50 translate-middle z-2" id="scrollSnapItemRadiosContainer"
    [ngClass]="{ 'invisible': isMobileDevice }"
    (mouseenter)="startScrollSnapItemRadiosContainerAnimation('enter')"
    (mouseleave)="startScrollSnapItemRadiosContainerAnimation('leave')"
>
    <div class="position-relative d-flex flex-row-reverse justify-content-center align-items-center text-bg-secondary rounded pe-1"
        [@scroll-snap-item-radios-container-animation]="currentScrollSnapItemRadiosContainerAnimationState"
    >
        <div class="ms-2"
            [ngClass]="{ 'z-2': isMobileDevice }"
            [@scroll-snap-item-radios-embeded-container-animation]="currentScrollSnapItemRadiosEmbededContainerAnimationState"
            (@scroll-snap-item-radios-embeded-container-animation.start)="scrollSnapItemRadiosEmbededContainerAnimationStart($event)"
            (@scroll-snap-item-radios-embeded-container-animation.done)="scrollSnapItemRadiosEmbededContainerAnimationDone($event)"
        >
            <div *ngFor="let section of scrollSnapSectionViewRefs; let i = index" class="form-check form-check-reverse">
                <input class="form-check-input" type="radio" value="" [id]="'defaultCheck' + i" (click)="changeActiveScrollSnapSection($event)"
                    [ngClass]="{ 'visible': isMobileDevice }"
                    [ngStyle]="{ 
                        'transform': isMobileDevice ? 'scale(1.3)' : null,
                        'margin-right': isMobileDevice ? '-1.3rem' : null
                    }"
                    (change)="isMobileDevice ? scrollSnapItemRadio.blur() : null"
                    #scrollSnapItemRadio
                >
                <label class="form-check-label text-nowrap" [for]="'defaultCheck' + i"
                    [ngClass]="{ 'text-warning fw-semibold': isMobileDevice }"
                >
                    {{ ( 'HOMEPAGE.SCROLLSNAPITEMRADIOSTEXT.PART' + ( i + 1 ) ) | translate }}
                </label>
            </div>
        </div>
        <div class="vr"></div>
        <div class="">
            <span>{{ 'HOMEPAGE.SCROLLSNAPITEMRADIOSTEXT.MAIN' | translate }}</span>
        </div>
    </div>
</div>