:host ::ng-deep #imagesCarousel .carousel-inner {
    height: 100% !important;
    width: 100% !important;
}

:host ::ng-deep #imagesCarousel .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-caret-left" viewBox="0 0 16 16"><path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/></svg>');
}

:host ::ng-deep #imagesCarousel .carousel-control-next-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-caret-right" viewBox="0 0 16 16"><path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/></svg>');
}

:host ::ng-deep #imagesCarousel .carousel-indicators button {
    height: 6px!important;
}

:host ::ng-deep #discountsCarousel .carousel-inner,
:host ::ng-deep #discountsCarousel .carousel-inner .carousel-item {
    height: 100% !important;
}

.imagePhotographyTypesGroup {
    border-width: 10px !important;
    border-color: gray !important;
}

:host ::ng-deep #discountsCarousel {
    background-image: url('/assets/images_full/1698852851520265.jpg');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 650px), screen and (max-device-width: 650px) {
    .imagePhotographyTypesGroup {
        flex-direction: column !important;
    }

    .linkButtonContainer a {
        align-items: center !important;
    }

    #aboutContainer {
        flex-direction: column !important;
    }

    #aboutContainer > div {
        margin-bottom: 5rem !important;
    }

    #aboutImage {
        height: 85% !important;
    }
}

.section {
    scroll-snap-align: center !important;
}

@media screen and (max-width: 576px), screen and (max-device-width: 576px) {
    :host ::ng-deep #imagesCarousel .carousel-item img {
        min-height: 300px;
    }
    :host ::ng-deep #discountsCarousel {
        min-height: 120px;
    }
}

@media screen and (min-width: 576px), screen and (min-device-width: 576px) {
    :host ::ng-deep #imagesCarousel .carousel-item img {
        max-height: 390px;
    }
    :host ::ng-deep #discountsCarousel {
        min-height: 200px;
    }
}

@media screen and (min-width: 735px), screen and (min-device-width: 735px) {
    :host ::ng-deep #imagesCarousel .carousel-item img {
        max-height: 620px;
    }
    :host ::ng-deep #discountsCarousel {
        min-height: 200px;
    }
}

@media screen and (min-width: 768px), screen and (min-device-width: 768px) {
    .imagePhotographyTypesGroup {
        margin-top: 1.5rem !important;
    }
}

@media screen and (min-width: 960px), screen and (min-device-width: 960px) {
    :host ::ng-deep #imagesCarousel .carousel-item img {
        max-height: 710px;
    }
    :host ::ng-deep #discountsCarousel {
        min-height: 280px;
    }
}

@media screen and (min-width: 1400px), screen and (min-device-width: 1400px) {
    :host ::ng-deep #imagesCarousel .carousel-item img {
        max-height: 950px;
    }
    :host ::ng-deep #discountsCarousel {
        min-height: 280px;
    }
}

@keyframes imagePhotographyTypeCursorAnimation {
    0%   { transform: scale(2) }
    50%  { transform: scale(1.5) }
    100% { transform: scale(1.5) }
}
  
.cursorIcon {
    left: 30%;
    top: 40%;
    animation: imagePhotographyTypeCursorAnimation 1s infinite;
}