<div *ngIf="compressedImagesList; else noContentBlock" class="carousel slide carousel-fade vh-100 vw-100 section" id="imagesCarousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button *ngFor="let imageData of compressedImagesList; let i = index" type="button" 
            data-bs-target="#imagesCarousel" [attr.data-bs-slide-to]="i" class="bg-dark"
            [ngClass]="{ 'active': i === 0 }" [attr.aria-current]="i === 0 ? true : null"
        >
        </button>
    </div>
    <div class="carousel-inner h-100 w-100">
        <div *ngFor="let imageData of compressedImagesList; let i = index" 
            class="carousel-item h-100 w-100 mw-100"
            [ngClass]="{ 'active': i === 0 }"
        >
            <img src="/assets/images_thumbnail/home/{{ imageData.name }}" class="w-100 object-fit-cover align-baseline">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#imagesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imagesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="p-5 mt-3 section">
    <h1 class="display-6 text-center">{{ 'HOMEPAGE.HEADERTITLE' | translate }}</h1>
</div> 
<ng-template [ngIf]="imagePhotographyTypes && imagePhotographyTypes.length !== 0">
    <div *ngFor="let imagePhotographyTypesDataArr of imagePhotographyTypes;" 
        class="d-flex flex-row justify-content-center align-items-center vh-70 imagePhotographyTypesGroup section"
    >
        <div *ngFor="let imagePhotographyTypeData of imagePhotographyTypesDataArr; let i = index" 
            class="border-0 position-relative h-100 mw-100 me-3 ms-3 imagesContainer"
            (mouseenter)="startMouseTriggerAnimation(setCurrentMouseTriggerStateIndex(imagePhotographyTypeData.name))"
            (mouseleave)="startMouseTriggerAnimation(setCurrentMouseTriggerStateIndex(imagePhotographyTypeData.name))"
        >
            <div class="h-100 mw-100" [attr.index-number]="setCurrentMouseTriggerStateIndex(imagePhotographyTypeData.name)"
                (@mouseTrigger.start)="mouseTriggerAnimationStarted($event)"
                (@mouseTrigger.done)="mouseTriggerAnimationDone($event)"
                [@mouseTrigger]="currentMouseTriggerStates[setCurrentMouseTriggerStateIndex(imagePhotographyTypeData.name)]"
            >
                <img src="/assets/images_thumbnail/home/imagePhotographyTypes/{{ imagePhotographyTypeData.originalImageName }}" 
                    class="h-100 mw-100 object-fit-contain"
                >
            </div>
            <div class="position-absolute top-50 start-50 translate-middle w-50 linkButtonContainer">
                <h5 class="text-center text-primary fw-bold text-break" [ngSwitch]="imagePhotographyTypeData.name">
                    <ng-template ngSwitchCase="individual">{{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.INDIVIDUAL' | translate }}</ng-template>
                    <ng-template ngSwitchCase="children">{{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.CHILDREN' | translate }}</ng-template>
                    <ng-template ngSwitchCase="wedding">{{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.WEDDING' | translate }}</ng-template>
                    <ng-template ngSwitchCase="family">{{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.FAMILY' | translate }}</ng-template>
                    <ng-template ngSwitchCase="event">{{ 'IMAGEPHOTOGRAPHYTYPESFULLTEXT.EVENT' | translate }}</ng-template>
                </h5>
                <a [routerLink]="[ '/gallery', imagePhotographyTypeData.name ]" routerLinkActive="active" 
                    class="btn btn-outline-info align-items-start justify-content-center icon-link icon-link-hover w-100" 
                    tabindex="-1" role="button" aria-disabled="true"
                >
                    {{ 'HOMEPAGE.PHOTOGRAPHYTYPESLINKTEXT' | translate | uppercase }} <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</ng-template>
<div class="d-flex flex-column mt-5 vh-70 section" id="aboutSection">
    <div class="d-flex flex-row justify-content-center align-items-center h-100 mw-100" id="aboutContainer">
        <img src="/assets/images_full/1697474336253508.jpg" class="rounded mx-auto d-block object-fit-contain h-100 mw-100" id="aboutImage">
        <div class="d-flex flex-row align-items-center fw-semibold h-100 mw-100 vw-30">
            <p class="text-center w-100">Просто текст!!!!</p>
        </div>
    </div>
</div>
<ng-template #noContentBlock>
    <div class="noContentBlock text-center text-info fs-4 p-4">
        <span>{{ 'NOIMAGESMESSAGE' | translate }}</span>
    </div>
</ng-template>
<ng-template #appModal></ng-template>