#imagesCarousel .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-caret-left" viewBox="0 0 16 16"><path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/></svg>');
}

#imagesCarousel .carousel-control-next-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-caret-right" viewBox="0 0 16 16"><path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/></svg>');
}

#imagesCarousel .carousel-indicators button {
    height: 6px!important;
}

.imagePhotographyTypesGroup {
    border-width: 10px !important;
    border-color: gray !important;
}

#discountsCarousel {
    background-image: url('/assets/images_full/IMG_3378.jpg');
    background-size: cover;
    background-position: center;
}

.sectionHorizontalRule {
    border-width: 15px;
}

@media (max-width: 768px) {
    .imagePhotographyTypesGroup {
        flex-direction: column !important;
        margin-bottom: 1rem !important;
    }

    .imagesContainer {
        margin-top: 1rem !important;
    }

    .linkButtonContainer a {
        align-items: center !important;
        --bs-btn-color: #000;
        --bs-btn-bg: #0dcaf0;
        --bs-btn-border-color: #0dcaf0;
        --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #31d2f2;
        --bs-btn-hover-border-color: #25cff2;
        --bs-btn-focus-shadow-rgb: 11,172,204;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #3dd5f3;
        --bs-btn-active-border-color: #25cff2;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #000;
        --bs-btn-disabled-bg: #0dcaf0;
        --bs-btn-disabled-border-color: #0dcaf0;
    }

    #aboutContainer {
        flex-direction: column !important;
    }

    #aboutImage {
        height: 85% !important;
    }
}

.linkButtonContainer {
    display: none;
}

.section {
    scroll-snap-align: center !important;
}

#aboutSection {
    margin-bottom: 12rem !important;
}

@media screen and (max-width: 576px) {
    #imagesCarousel .carousel-item img {
        min-height: 300px;
    }
    #discountsCarousel {
        min-height: 120px;
    }
}

@media screen and (min-width: 576px) {
    #imagesCarousel .carousel-item img {
        max-height: 390px;
    }
    #discountsCarousel {
        min-height: 200px;
    }
}

@media screen and (min-width: 735px) {
    #imagesCarousel .carousel-item img {
        max-height: 620px;
    }
    #discountsCarousel {
        min-height: 200px;
    }
}

@media screen and (min-width: 768px) {
    .imagePhotographyTypesGroup {
        margin-top: 1.5rem!important;
    }
}

@media screen and (min-width: 960px) {
    #imagesCarousel .carousel-item img {
        max-height: 700px;
    }
    #discountsCarousel {
        min-height: 280px;
    }
}

@media screen and (min-width: 1400px) {
    #imagesCarousel .carousel-item img {
        max-height: 950px;
    }
    #discountsCarousel {
        min-height: 280px;
    }
}