#imagesCarouselContainer {
    max-height: 100vh !important;
}

:host ::ng-deep #imagesCarousel .carousel-inner {
    height: 100% !important;
    width: 100% !important;
}

:host ::ng-deep #imagesCarousel .carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-caret-left" viewBox="0 0 16 16"><path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/></svg>');
}

:host ::ng-deep #imagesCarousel .carousel-control-next-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23fff" class="bi bi-caret-right" viewBox="0 0 16 16"><path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/></svg>');
}

:host ::ng-deep #imagesCarousel .carousel-indicators button {
    height: 6px!important;
}

:host ::ng-deep #discountsCarousel .carousel-inner,
:host ::ng-deep #discountsCarousel .carousel-inner .carousel-item {
    height: 100% !important;
}

.imagePhotographyTypesGroup {
    border-width: 10px !important;
    border-color: gray !important;
}

:host ::ng-deep #discountsCarousel {
    background-image: url('/assets/images_full/1698852851520265.jpg');
    background-size: cover;
    background-position: center;
}

#aboutSection {
    height: 70% !important;
    margin-bottom: 12rem !important;
}

@media screen and (max-width: 650px), only screen 
and (width: 393px) 
and (height: 852px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 430px) 
and (height: 932px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 390px) 
and (height: 844px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 428px) 
and (height: 926px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 375px) 
and (height: 812px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 414px) 
and (height: 896px) 
and (-webkit-device-pixel-ratio: 2),
only screen 
and (width: 414px) 
and (height: 896px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 375px) 
and (height: 667px) 
and (-webkit-device-pixel-ratio: 2) {
    .imagePhotographyTypesGroup {
        flex-direction: column !important;
    }

    .imagePhotographyTypesGroup > div {
        max-width: 100% !important;
        margin-right: 0 !important;
    }

    .imagePhotographyTypesGroup > div:nth-child(1) {
        margin-bottom: 1rem!important;
    }
    
    .linkButtonContainer a {
        align-items: center !important;
    }

    #aboutContainer {
        flex-direction: column !important;
    }

    #aboutContainer > div {
        margin-left: 0 !important;
    }

    #aboutImage {
        height: 85% !important;
    }
}

.section {
    scroll-snap-align: center !important;
}

@media screen and (max-width: 576px), only screen 
and (width: 393px) 
and (height: 852px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 430px) 
and (height: 932px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 390px) 
and (height: 844px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 428px) 
and (height: 926px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 375px) 
and (height: 812px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 414px) 
and (height: 896px) 
and (-webkit-device-pixel-ratio: 2),
only screen 
and (width: 414px) 
and (height: 896px) 
and (-webkit-device-pixel-ratio: 3),
only screen 
and (width: 375px) 
and (height: 667px) 
and (-webkit-device-pixel-ratio: 2) {
    :host ::ng-deep #imagesCarousel .carousel-item img {
        min-height: 300px;
    }
    :host ::ng-deep #discountsCarousel {
        min-height: 120px;
    }
}

@media screen and (min-width: 576px) {
    :host ::ng-deep #imagesCarousel .carousel-item img {
        max-height: 390px;
    }
    :host ::ng-deep #discountsCarousel {
        min-height: 200px;
    }
}

@media screen and (min-width: 735px) {
    :host ::ng-deep #imagesCarousel .carousel-item img {
        max-height: 620px;
    }
    :host ::ng-deep #discountsCarousel {
        min-height: 200px;
    }
}

@media screen and (min-width: 960px) {
    :host ::ng-deep #imagesCarousel .carousel-item img {
        max-height: 710px;
    }
    :host ::ng-deep #discountsCarousel {
        min-height: 280px;
    }
}

@media screen and (min-width: 1150px) {
    .oneLengthImagePhotographyTypeGroup {
        width: fit-content !important;
        max-height: 70% !important;
    }
}

@media screen and (min-width: 1400px) {
    :host ::ng-deep #imagesCarousel .carousel-item img {
        max-height: 950px;
    }
    :host ::ng-deep #discountsCarousel {
        min-height: 280px;
    }
}

@keyframes imagePhotographyTypeCursorAnimation {
    0%   { transform: translate(-50%, -30%) scale(1.5) }
    50%  { transform: translate(-50%, -30%) scale(1.2) }
    100% { transform: translate(-50%, -30%) scale(1.0) }
}
  
.cursorIcon {
    animation: imagePhotographyTypeCursorAnimation 1s infinite;
}

#scrollSnapItemRadiosContainer {
    right: -300px;
}

#scrollSnapItemRadiosContainer > div > div:nth-child(2) {
    width: 4px;
    opacity: 1;
}

#scrollSnapItemRadiosContainer > div > div:nth-child(3) {
    transform: rotate(90deg);
}

#scrollSnapItemRadiosContainer input[type='radio'] {
    cursor: pointer;
}